<h1 class="c1">{{title}}</h1>
<div class="bg-success" *ngIf="success_msg else error_msg">User added successfully</div>
<ng-template class="alert-danger" #error_msg>user not added</ng-template>

<!-- <ul>
  <div">
    <li>
      {{item.firstName}}  {{item.lastName}}  {{item.contact}}
    </li>
  </div>
</ul> -->
<div [ngStyle]="{'background-color':'green'}"> This is green div</div>
<table><tr *ngFor="let item of contact"> <td [title]="item.firstName">wwe</td></tr></table>

<div>{{date| date :'MMM-dd-yyyy'}}</div>
<p>{{contact|json | uppercase}}</p>
<p>{{currency | currency : 'inr' | uppercase}}</p>
<p>{{perc | percent}}</p>
<router-outlet></router-outlet>